@import "./reset.scss";

body {
  background-color: #bdbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: #d7dbdb;
  width: 350px;
  height: 97%;
  border-radius: 10px;
  border: 10px solid black;
  box-shadow: 5px 10px 10px rgba($color: black, $alpha: 0.5);
}

.header {
  background-color: #bdbfbf;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px 20px 15px;
  .header__title {
    font-weight: 700;
  }
}
.total {
  background-color: #1f1414;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 15px;
  font-weight: bold;
  gap: 10px;
  .total__price {
    font-size: 21px;
  }
  .total__subtitle {
    font-size: 14px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #bdbfbf;
  .item {
    border-top: 3px solid #1f1414;
    background-color: #d7dbdb;
    position: relative;
    color: #1f1414;
    display: grid;
    grid-template-rows: 3fr 1fr;
    .item__info {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .item__info-col {
        &:last-child {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        .item_title {
          font-weight: 900;
          font-size: 32px;
        }
      }
      .item_subtitle {
        font-weight: 600;
        margin-top: 10px;
      }
      .item__total-price {
        font-weight: 900;
        font-size: 28px;
      }
      .item__per-price {
        font-weight: 600;
        margin-top: 2px;
      }
    }
    .item__specs {
      border-top: 3px solid #1f1414;
      border-bottom: 3px solid #1f1414;
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      .spec {
        border-right: 3px solid #1f1414;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 700;
        padding: 15px;
      }
    }
  }
  .item__photo {
    position: absolute;
    border: 3px solid #1f1414;
    width: 45%;
    height: 70%;
    right: 15px;
    bottom: 0px;
  }
}
